* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  color-scheme: light dark;
  --fg-color: light-dark(#555, #ccc);
  --bg-color: light-dark(#eee, #222);
  --border-color: light-dark(#ccc, #444);
  --link-color: light-dark(#46a, #8ac)
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: Helvetica, Roboto, sans-serif;
  max-width: 768px;
  padding: 0 24px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid var(--border-color);
  margin-top: 1rem;
}

h1, h2, h3, h4, h5, h6, p, ul {
  line-height: 1.5;
  margin-top: 1rem;
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: "- ";
}

a.no-style-a {
  color: inherit;
  text-decoration: none;
}
